.container{
    height: 550px;
    border: 1px solid red;
    position: relative;
}

.child1{
    height: 75%;
    width: 100%;
    z-index: 1;
}
.child1>img{
    width: 100%;
    height: 100%;
    z-index: 0;
}

.child2{
    height: 40%;
    width: 68%;
    margin-top: -100px;
    background-color: whitesmoke;
    position: absolute;
    z-index: 2;
}