.parent{
    height: auto;
    width: 100%;
    /* border: 1px solid black; */
    font-family: "Roboto Slab", serif;
    padding: 20px;
}

.parent>h2{
    font-size: 28px;
    color: #000000;
    font-weight: 600;
}
.line{
    width: 100%;
    border-bottom: 2px solid black;
    margin-top: 1%;
    margin-bottom: 3%;
}
.line>div{
    width: 11%;
    border-bottom: 3px solid red;
}
.boxes{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,48%);
    grid-template-rows: auto;
    column-gap: 4%;
}