/* styling the navbar */
.navbar {
  /* border: 1px solid black; */
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbar > div {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.navbar img {
  width: 20%;
  margin-left: 5%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.navbar img:hover {
  cursor: pointer;
  transition: 1s;
  transform: scale(1.05);
}

/* second child */
.navbar > div:nth-child(2) {
  justify-content: space-evenly;
}
.navbar > div:nth-child(2) > p {
  font-size: 17px;
  margin-top: 4%;
  cursor: pointer;
  color: rgb(121, 124, 124);
  font-weight: 500;
  /* border: 1px solid blue; */
}
.navbar > div:nth-child(2) > p::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgb(121, 124, 124);
  transition: width 0.6s;
}
.navbar > div:nth-child(2) > p:hover::after {
  width: 100%;
}

/* last child */
.navbar > div:nth-child(3) {
  flex-direction: row-reverse;
}
