.thanos {
  height: auto;
  width: 60%;
  margin: auto;
  /* border: 1px solid black; */
  color: #000000;
  font-family: "Roboto Slab", serif;
}
/* .thanos h2{
    
} */
.wanda {
  display: flex;
  /* border: 1px solid; */
  width: 40%;
  justify-content: space-between;
}
.wanda p + p {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wanda + p {
  margin-top: -10px;
}
.singleImgDiv {
  width: 80%;
  margin: auto;
}
.thanos img {
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
}
.blogBody {
  font-size: 18px;
}
.bodyDiv {
  overflow-wrap: break-word;
}

/* the comment box */

.commentBox{
  width: 48%;
  height: 200px;
  border: 1px solid black;
  margin: auto;
}

.commentBox>div:first-child{
  display: flex;
  /* align-items: center; */
  /* justify-content: space-around; */
}

/* .commentBox>div:first-child>div:first-child{
  width: 10%;
} */
.commentBox>div:first-child>div:last-child{
  width: 80%;
}

.commentBox>.buttonBox{
  width: 90%;
  height: 40px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5%;
}

.commentBox>.buttonBox>button{
  height: 80%;
  display: flex;
  align-items: center;
}