body {
  margin: 0;
  background-color: rgb(241, 169, 169);
  font-family:'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carousel-inner{
  height: 500px;
}
